#name{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    text-decoration:underline;
    text-shadow: 1px 2px 2px black;
}
span{
    font-weight:initial;
}
#fooditems{
    border:0px solid red;
    width:50%;
    display:flex;
    margin:auto;
    justify-content: space-around;
}
.food{
    border:0px solid black;
    width:22%;
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:10px;
}
.food:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#orderFood{
    width:20%;
    height:40px;
    margin-left:39%;
    margin-top:5%;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius:10px;
    border:none;
    background-color:rgb(59, 59, 194);
    color:white;
}
#orderFood:hover{
    transform:scale(1.1);
    background-color:rgb(12, 12, 197);
}
#status{
    border:1px solid red;
    width:50%;
    margin:auto;
    text-align:center;
}
 #imageCont{
    border: 0px solid greenyellow;
    margin: auto;
    width: 30%;
 }